<launch>

  <node name="egocylindrical_depth_propagator" pkg="egocylindrical" type="egocylindrical_propagator_node" output="log"/>

  <node name="egocylindrical_to_pointcloud" pkg="egocylindrical" type="pointcloud_generator_node" output="screen"/>

  <node name="egocylindrical_to_range" pkg="egocylindrical" type="range_image_publisher"/>
  
</launch>
